body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 50px 6.5%;
}

.header__nav ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.header__nav li a {
  text-decoration: none;
  color: #22d4fd;
  font-size: 24px;
}

.div__principal {
  display: flex;
  flex-direction: row; /*aplicar media queries*/
  align-items: center;

  padding: 2rem 0%;
  box-sizing: border-box;
  /* width: 98%;
  padding: 2rem 1rem; */
}

.imagensola img {
  width: 80%;
  height: auto;
  border-radius: 1rem;
}

.primera__seccion {
  width: 100%;
  font-family: "Krona One", sans-serif;
  padding: 2rem 1rem;
  box-sizing: border-box;
  text-align: start;
}

.primera__seccion h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  color: white;
  margin: 0 auto 1rem;

  width: 100%;
  max-width: 1000px;
  text-align: justify;
}

.primera__seccion h1 strong {
  color: #22d4fd;
}

.primera__seccion p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: white;
  margin: 0 auto;
  /* padding: 10px 180px; */
  width: 100%;
  max-width: 1000px;
  text-align: justify;
}
/* accede a mis redes y botones*/
.segunda_seccion {
  padding: 0 6.5%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.segunda_seccion h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}

.segunda_seccion a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
  height: 50px;
  font-size: 1.2rem;
  border: 2px solid#22d4fd;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  text-align: center;
}

footer {
  background-color: #22d4fd;
  margin-top: 40px;

  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Krona One", sans-serif;
  font-size: 0.8vw;
}

@media (max-width: 1024px) {
  .div__principal {
    flex-direction: column;
    padding: 1rem 5%;
  }

  .imagensola img {
    margin-left: 10%;
  }

  .primera__seccion h1 {
    font-size: 1.5rem;
  }
  .primera__seccion p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .div__principal {
    padding: 2rem 4%;
  }
}
